:root {
	--rich-black: hsl(207, 95%, 8%);
	--snow-white: hsl(348, 29%, 97%);
	--bittersweet: hsl(8, 100%, 68%);
	--glaucous: hsl(226, 56%, 61%);

	--bg-primary: var(--snow-white);

	--text-primary: var(--rich-black);
	--text-secondary: var(--glaucous);
}

body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--bg-primary);
	color: var(--text-primary);

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
